$footer-height: 20px;
$body-height: calc(100vh - #{$footer-height});
$paper-height: 80vh;
$icon-min-width: 10px;


li{
 -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
         border-radius: 4px !important;
  list-style:none;
  input[type='text']:focus{
    background-color: yellow;
  }
  input[type='text']{
    border:none;
  }
}

.node-content{
  padding-left:15px;
}

button{
  margin:10px;
}

.paper{
  min-height: $paper-height;
  overflow:auto;
  // padding:75px;
}

.paper > ol{
  padding-left:10px;
}

.body{
  min-height: $body-height;
  // max-width:1px;
  margin:auto auto;
}

.focused{
  color:#48CB4F;
}

.inline-icon{
  width: $icon-min-width;
}

.inline-input{
  width: calc(100% - #{$icon-min-width})
}



// .container{
//   max-width:1024px;
//   margin:auto auto;
//   // margin: 30px;
// }

.json-output{
  // padding:20px;
}



section{
  padding:20px;
}

.kbd {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#EEEEEE none repeat scroll 0 0;
    border-color:#CCCCCC #AAAAAA #888888 #BBBBBB;
    border-style:solid;
    border-width:1px 1px 2px 2px;
    color:#000000;
    padding:5px;
    white-space:nowrap;
    width:20px;
    text-align: center;
}

body{
  // max-height:100%;
}

footer{
  // position:absolute;
  // padding:10px 0 10px 0;
  min-height:$footer-height;
  bottom:0;
  position:relative;
  // width:100%;
}

.fork-on-github img {
  position:absolute;
  top:0;
  left:0;
  border:0;
}
